.container {
  border: 0.5px #3d3d3d solid;
  border-radius: 25px 0px 25px 0px;
  padding: 10px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  flex: 1;
}
html,
.root {
  background-color: #eceff1;
}
.budget,
.state,
.name {
  flex: 1;
}

.budget {
  text-align: end;
  padding-left: 10px;
}

.state {
  text-align: center;
}

#tree {
  display: flex;
  flex-direction: column;
}

#sticky-header {
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  width: 100%;
}

#draw-tree,
#search {
  margin-right: 15px;
}

#draw-tree,
#search-text,
#search {
  font-size: 22px;
}
