.container {
  border: 1px black solid;
  padding: 10px;
  height: 40px;
  margin-bottom: 4px;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
html,
.root {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}
.budget,
.state,
.name {
  flex: 1;
}

.budget {
  text-align: end;
  padding-left: 10px;
}

.state {
  text-align: center;
}

#tree {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#sticky-header {
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  width: 100%;
}

#draw-tree,
#search {
  margin-right: 15px;
}
#draw-tree,
#search-text,
#search {
  font-size: 22px;
}
